<div class="card">
  <div class="card-body text-center naranja">
    <h4 class="card-title">A la carta Tlaquepaque</h4>
    <p class="card-text">Ordena tus platillos desde aquí</p>
  </div>
</div>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/platillos">RESTAURANTE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/platillos"> Platillos <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="getWaiter()">Solicitar mesero</a>
      </li>

    </ul>
    <h5 type="button" class="button white center" routerLink="/cuenta"> <i class="bi bi-cart-check"></i> Artículos
      pedidos</h5>
  </div>
</nav>


<div class="card-columns">
  <div class="grid-item" id="platillos" *ngFor="let platillo of platillos">

    <!-- Aquì va cada platillo -->
    <div class="card tarjetas">
      <img class="card-img" src={{platillo.urlImage}} alt="hi">
      <div class="card-content">
        <h1 class="card-header">{{platillo.name}} -${{platillo.price}}-</h1>
        <p class="card-text"> {{platillo.description}}</p>

        <a><button class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#exampleModal"
            data-toggle="modal" (click)="loadData(platillo)">Pedir</button></a>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header center">
        <h5 class="modal-title " id="exampleModalLabel">{{platilloSelected.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body justify " id="desc">
        {{platilloSelected.description}}
      </div>
      <div class="modal-footer center">
        <button (click)="resta()">-</button>
        <p id="cantidad">{{platilloSelected.amount}}</p>
        <button (click)="suma()">+</button>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="sendPedido()" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>