/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("http://alacartatlaquepaque.000webhostapp.com/image.jpg");
    background-repeat: unset;
    background-attachment: fixed;
}